$color1: #17252A;
$color2: #2B7A78;
$color3: #3AAFA9;
$color4: #DEF2F1;
$color5: #FEFFFF;

.matches-wrapper {
    display: flex;
    justify-content: center;
    background-color: $color4;
    height: 100vh;
}

.mapped-matches {
    display: flex;
    justify-content: center;
    background-color: #C5CBE3;
}

.card-wrapper {
    margin-top: 1%;
    width: 300px;
    height: auto;
}

.match-image-box {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.chat-display {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 70vw;
    height: 86.2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid #3a3a3a;
}

.message-input {
    padding: 3px; 
    position: fixed; 
    bottom: 0; width: 100%;
    padding: 10px; 
    width: 90%;
    font-size: 25px;
}

.create-message-section button {
    position: fixed;
    width: 10%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 11px 12px;
    right: 0;
    bottom: 0px;
    font-size: 25px;
}

.messages {
    list-style-type: none; 
    height: 93.5%;
    margin: 0; 
    padding: 0;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
}

.messages div {
    padding: 10px 30px;
    width: 100%;
    font-size: 25px;
    overflow-anchor: none;
}

.myMessage {
    text-align: right;
}

.notMyMessage {
    background: #eee;
    text-align: left;
}

.messages > div:last-child {
    padding: 50px 80px;
    background-color: #ffffff;
    overflow-anchor: auto;
}