.matches-wrapper {
    display: flex;
    justify-content: center;
    background-color: #EFE2BA;
    height: 100vh;
}

.mapped-matches {
    display: flex;
    justify-content: center;
    background-color: #C5CBE3;
}