.home-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #EFE2BA;
    height: 100vh;
}

.home-wrapper2 {
    background-color: #C5CBE3;
    height: 50%;
    align-content: flex-start;
}