$mobile-sizeA: 320px;
$mobile-sizeB: 480px;
$tablet-size: 768px;
$desktop-size: 1024px;

$color1: #D79922;
$color2: #EFE2BA;
$color3: #F13C20;
$color4: #4056A1;
$color5: #C5CBE3;

.heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 20px;
	margin: 36px auto;
	width: 100%;
    max-width: 800px;
    
}
.search-label {
    position: relative;
}

.container input {
    width: 300px;
    height: 40px;
	padding: 16px;
	font-size: 20px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}
.search-icon {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #555;
	right: 18px;
}