$color1: #0B0C10;
$color2: #1F2833;
$color3: #C5C6C7;
$color4: #66FCF1;
$color5: #45A29E;


// #nav-wrapper{
//     background-color: gray;
// }
#navbar {
    background-color: $color2;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    justify-content: flex-end;

    .nav-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    #logo-div {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        img {
            display: flex;
            padding-top: 5px;
            margin-left: 15px;
            width: 120px;
            height: 120px;
            border-radius: 30%;
        }
    }

    .nav-btn-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    .nav-btn {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 10px;
        color: $color3;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        background: $color5;
        width: 100px;
        height: 40px;
    }

    .nav-links {
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        p {
            color: $color5;
            display: flex;
            margin: 5px;
            font-size: 23px;
            padding: 15px;
        }
    }

    .nav-photo-div {
        display: flex;
        justify-content: flex-end;
        width: 160px;
        height: 120px;
        margin: 5px;
        img {
            display: flex;
            justify-content: center;
            border-radius: 50%;
            padding: 5px 15px;
            width: inherit;
            height: inherit;
        }
    }

}

a {
    text-decoration: none;
}
.dropdown{
    display: none;
}


@media(max-width: 769px){
    .desktop-nav{
        display: none;
    }

    .header-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        height: 10vh;
    }

    .parent-menu{
        display: flex;
        flex-direction: column;
        background-color: black;
        height: 200px;

    }

    .mobile-menu{
        // display: flex;
        // position: absolute;
        // color: black;
        // background-color: $color3;
        // font-size: 30px;
        // flex-direction: column;
        // justify-content: space-evenly;
        // // width: 100px;
        // // height: 100px;
        // z-index: 1;
    }

    .dropdown{
        display: flex;
        color: black;
        z-index: 1;

        position: absolute;
        font-size: 40px;
        cursor: pointer;
        right: 50px;
        top: 20px;
    }

    .nav-links{
        
        // display: flex;
        // flex-direction: column;
        // justify-content: space-evenly;
        // position: relative;
        //   color: black;
        //   background-color: $color3;
        //   text-decoration: none;
        //   font-size: 25px;
        //   padding: 6px 6px;
        //   width: 120px;
        //   height: 260px;
        //   z-index: 1;
    }

    ul{
        // position: absolute;
        // right: 30px;
        // top: 50px;
        // // width: 200px;
        // // height: 200px;
        // display: flex;
        // flex-direction: column;
        // z-index: 1;
        // background-color: $color3;
    }





}


